@import "../../../../styles"

.topbar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem
  height: 10%
  box-sizing: border-box
  img
    width: 7rem
  div
    color: var(--white)

.content-container
  width: 100%
  height: 90%
  display: flex
  justify-content: center
  & > div
    width: 100%
    height: 95%
  
.result
  overflow-y: scroll
  height: 100%
  &::-webkit-scrollbar
    display: none
  > div
    margin: 0rem .5rem
    padding: 1rem 1.5rem
    border-radius: 5px
    p
      margin: 0
    > p:nth-child(1)
      font-size: 1rem
      font-weight: bold
      color: var(--blue)
    > p:nth-child(2), > p:nth-child(3)
      font-size: .9rem
      color: var(--white)
  > div:nth-child(odd)
    background-color: var(--black)
  > div:nth-child(even)
    background-color: var(--gray)

.loading, .error
  text-align: center
  padding-top: 5rem
  > div
    color: var(--blue)

@include breakpoint(pc)
  .content-container > div
    max-width: 1300px