<div class="topbar">
  <img src="assets/topbar-logo.png"
      (click)="navigateToIndex()">
  <div>我的附近</div>
</div>
<div class="result">
  <div (click)="navigateToNum()">
    <p>衡陽路</p>
    <p>18, 20, 222, 235, 257</p>
  </div>
  <div (click)="navigateToNum()">
    <p>衡陽路</p>
    <p>18, 20, 222, 235, 257</p>
  </div>
  <div (click)="navigateToNum()">
    <p>衡陽路</p>
    <p>18, 20, 222, 235, 257</p>
  </div>
  <div (click)="navigateToNum()">
    <p>衡陽路</p>
    <p>18, 20, 222, 235, 257</p>
  </div>
</div>

