<div class="background">
  <div class="topbar">
    <img src="assets/back-arrow.png"
    (click)="navigateToStartEndSearch()">
    <img src="assets/topbar-logo.png"
        (click)="navigateToIndex()">
    <div (click)="navigateToTimeTable()">
      <img src="assets/clock-icon.png">
      <span>時刻表</span>
    </div>
  </div>
  
  <div class="stop-search">
    <input placeholder="大竹消防隊"
          (click)="navigatToSelect('stop')">
    <img src="assets/swap-icon.png">
    <input placeholder="庫倫街口"
          (click)="navigatToSelect('stop')">
  </div>

  <div class="time-search">
    <input placeholder="2021/10/31"
          (click)="navigatToSelect('date')">
    <input placeholder="01:00"
          (click)="navigatToSelect('time')">
  </div>

  <div class="price">
    <div>
      <div>
        三排座
      </div>
      <div>
        <div>
          <p>全票</p>
          <p>$56</p>
        </div>
        <div>
          <p>半票</p>
          <p>$33</p>
        </div>
      </div>
    </div>
    <div>
      <div>
        四排座
      </div>
      <div>
        <p>本區間不售票</p>
      </div>
    </div>
  </div>
</div>