.topbar
  display: flex
  align-items: center
  height: 10%
  padding-top: .5rem
  div:nth-child(1) > img
    width: .5rem
    height: 1rem
    margin-left: 20%
  div:nth-child(2) 
    display: flex
    justify-content: center
    > img
      width: 7rem
      height: 3rem
  div:nth-child(3)
    display: flex
    justify-content: flex-end
    > p
      margin: 0 0.5rem 0 0
  div
    flex: 1
    color: var(--white)
.loading
  text-align: center
  padding-top: 5rem
  
.result
  > div
    margin: 0rem .5rem
    padding: 1rem 1.5rem
    border-radius: 5px
    p
      margin: 0
    > p:nth-child(1)
      font-size: 1rem
      font-weight: bold
      color: var(--blue)
    > p:nth-child(2)
      font-size: .9rem
      color: var(--white)
  > div:nth-child(odd)
    background-color: var(--black)
  > div:nth-child(even)
    background-color: var(--gray)