<div class="topbar">
  <img src="assets/back-arrow.png"
      (click)="navigateToStop()">
  <img src="assets/topbar-logo.png"
      (click)="navigateToIndex()">
  <div>衡陽路</div>
</div>

<div class="result">
  <div (click)="navigateToRoute()">
    <p>18</p>
    <p>萬華-捷運麟光站<p>
  </div>
  <div (click)="navigateToRoute()">
    <p>18</p>
    <p>萬華-捷運麟光站<p>
  </div>
  <div (click)="navigateToRoute()">
    <p>18</p>
    <p>萬華-捷運麟光站<p>
  </div>
  <div (click)="navigateToRoute()">
    <p>18</p>
    <p>萬華-捷運麟光站<p>
  </div>
</div>