<div class="background">
  <div class="topbar">
    <div (click)="navigateToNormalSearch()">
      <img src="assets/back-arrow.png">
    </div>
    <div (click)="navigateToIndex()">
      <img src="assets/topbar-logo.png">
    </div>
    <div></div>
  </div>

  <div class="search">
    <input placeholder="選擇出發縣市">
    <img src="assets/swap-icon.png">
    <input placeholder="選擇到達縣市">
  </div>

  <ng-container *ngIf="searchMode===true";>
    <div class="keyboard">
      <button *ngFor="let button of keyboardCityBtns">
        {{ button.label }}
      </button>
      <button (click)="setSearchCity()">
        設定
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="searchMode===false">
    <div class="search-result">
      <div (click)="navigateToPriceQuery()">
        <p>0968</p>
        <p>大竹消防隊-庫倫街口</p>
      </div>
      <div (click)="navigateToPriceQuery()">
        <p>0968</p>
        <p>大竹消防隊-庫倫街口</p>
      </div>
    </div>
  </ng-container>
</div>
