<div class="background">
  <div class="topbar">
    <img src="assets/back-arrow.png"
    (click)="navigateToPriceQuery()">
    <input placeholder="2021/10/31">
    <div></div>
  </div>

  <div class="direction">
    <div>
      <span>往</span>
      <span>大竹消防隊</span>
    </div>
    <div>
      <span>往</span>
      <span>庫倫街口</span>
    </div>
  </div>

  <div class="route">
    <div>
      <div>1</div>
      <div>07:40</div>
    </div>
    <div>
      <div>2</div>
      <div>7:40</div>
    </div>
    <div>
      <div>3</div>
      <div>7:40</div>
    </div>
    <div>
      <div>3</div>
      <div>7:40</div>
    </div>
    <div>
      <div>3</div>
      <div>7:40</div>
    </div>
  </div>

</div>
