@import "../../../../styles"

.out-container
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.in-container
  width: 100%
  height: 100%
  position: relative

.background
  width: 100%
  height: 100%
  overflow: hidden
  position: relative
  
.topbar
  display: flex
  padding: 1rem
  background-color: var(--black)
  img
    width: 7rem
    margin-right: 1rem
  input
    flex: 3
    color: var(--blue)

.keyboard
  z-index: 100
  background-color: var(--gray)
  padding: 1rem
  width: 100%
  box-sizing: border-box
  position: absolute
  &.show
    bottom: 0px
    animation: showKeyboard .7s
  &.hide
    bottom: -300px
    animation: hideKeyboard .7s
  .number > div:nth-child(1)
    display: flex
    button:nth-child(1)
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      color: var(--white)
  .number > div:nth-child(2)
    display: flex
    flex-wrap: wrap
    // btn-margin: .3rem / btn-per-line: 5
    button
      width: calc((100% - 0.3rem*10) / 5)
  .city
    display: flex
    flex-wrap: wrap
    button
      color: var(--blue)
      background: var(--gray)
      width: calc((100% - 0.3rem*10) / 5)
    .selected-button
      color: var(--gray)
      background: var(--blue)
      width: calc((100% - 0.3rem*10) / 5)
    button:last-child
      color: var(--blue)
      background: var(--gray)
      width: calc((100% - 0.3rem*10) / 5 * 3 + (0.3rem * 4))
  .others 
    display: flex
    flex-wrap: wrap
    button
      color: var(--blue)
      width: calc((100% - 0.3rem*10) / 5)
    button:last-child
      width: calc((100% - 0.3rem*10) / 5 * 4 + (0.3rem * 6))

button
  padding: .5rem 0rem
  margin: .3rem .3rem
  &.disabled
    opacity: 0.3

.loading
  position: absolute
  height: 90%
  bottom: 0
  width: 100%
  text-align: center
  padding-top: 5rem
  
.search-result
  position: absolute
  height: 90%
  bottom: 0
  width: 100%
  > p
    font-size: 1rem
    color: var(--white)
    margin: .5rem 1rem 1rem 1rem
  .card-area
    height: 90%
    overflow-y: scroll
    &.freeze
      overflow-y: hidden
    &::-webkit-scrollbar
      display: none
    > div
      margin: 0rem .5rem
      padding: 1rem 1.5rem
      border-radius: 5px
      p
        margin: 0
      > p:nth-child(1)
        font-size: 1rem
        font-weight: bold
        color: var(--blue)
      > p:nth-child(2), p:nth-child(3)
        font-size: .9rem
        color: var(--white)
    > div:nth-child(even)
      background-color: var(--black)
    > div:nth-child(odd)
      background-color: var(--gray)


@include breakpoint(pc)
  .out-container
    width: 100%
  
  .in-container
    max-width: 1300px
    display: flex

  .background
    width: 40%
    height: 100%
    overflow: hidden
    position: relative

  .search-result, .loading
    position: static
    width: 60%
    > p
      margin: 1rem
    .card-area
      height: 100%