@import './styles/_mixin' 

.backgroud
  width: 100vw
  height: 100vh
  background-color: var(--black)
  display: flex
  justify-content: center
.container
  // background-color: lightblue
  width: 100vw
  height: 100vh

@include breakpoint(pad)
  .container
    width: 768px