<div class="background">
  <div class="topbar">
    <img src="assets/topbar-logo.png"
    (click)="navigateToIndex()">
    <input placeholder="選擇路線或手動輸入關鍵字">
  </div>

  <ng-container *ngIf="searchMode===true">
    <div class="keyboard">
      <div *ngIf="keyboardMode==='number'"
            class="number">
        <div>
          <button (click)="navigateToStartEndSearch()">
            <img src="assets/navigate-icon.png">
            以起迄地區搜尋
          </button>
          <button>
            手動輸入
          </button>
        </div>
        <div>
          <ng-container *ngFor="let button of keyboardNumBtns">
            <ng-container [ngSwitch]="button.label">
              <ng-container *ngSwitchCase="'其他'">
                <button [ngStyle]="{color: button.textColor}"
                        (click)="this.keyboardMode='city'">
                  {{ button.label }}
                </button>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <button [ngStyle]="{color: button.textColor}"
                (click)="navigateToPriceQuery()">
                  {{ button.label }}
                </button>
              </ng-container>
            </ng-container>
          </ng-container>
          <button>
            <img src="assets/delete-icon.png">
          </button>
        </div>
      </div>
      <div *ngIf="keyboardMode==='city'"
          class="city">
        <button *ngFor="let button of keyboardCityBtns">
          {{ button.label }}
        </button>
        <button (click)="setSearchCity()">
          設定
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="searchMode===false">
    <div class="search-result">
      <div (click)="navigateToPriceQuery()">
        <p>1032</p>
        <p>基隆 - 板橋</p>
      </div>
      <div (click)="navigateToPriceQuery()">
        <p>1032</p>
        <p>基隆 - 板橋</p>
      </div>
    </div>
  </ng-container>
</div>

