<div class="topbar">
  <div>
    <img src="assets/back-arrow.png"
    (click)="navigateToRoute()">
  </div>
  <div>
    <img src="assets/topbar-logo.png"
    (click)="navigateToIndex()">
  </div>
  <div></div>
</div>

<div class="direction">
  <div [ngClass]="{'selected-direction': !isReturnDirection}"
        (click)="onSetDirection('go')">
    <span>往</span>
    <span>捷運劍潭站</span>
  </div>
  <div [ngClass]="{'selected-direction': isReturnDirection}"
        (click)="onSetDirection('return')">
    <span>往</span>
    <span>台北海大</span>
  </div>
</div>
<div>
  <p-gmap #gmap 
          [style]="{'width':'100%','height':'80vh'}" 
          [options]="options" 
          [overlays]="overlays">
  </p-gmap>
</div>

