<div class="topbar">
  <div (click)="navigateToSearch()">
    <img src="assets/back-arrow.png"
    >
  </div>
  <div (click)="navigateToIndex()">
    <img src="assets/topbar-logo.png"
    >
  </div>
  <div></div>
</div>

<div class="direction">
  <div>
    <div [ngClass]="{'selected-direction': !isReturnDirection}"
          (click)="onSetDirection('go')">
      <span>往</span>
      <span>{{ goDestination }}</span>
    </div>
    <div [ngClass]="{'selected-direction': isReturnDirection}"
          (click)="onSetDirection('return')">
      <span>往</span>
      <span>{{ returnDestination }}</span>
    </div>
  </div>
</div>
<div>
  <p-gmap #gmap 
          [style]="{'width':'100%','height':'80vh'}" 
          [options]="options" 
          [overlays]="overlays"
          (onOverlayClick)="handleOverlayClick($event)">
  </p-gmap>
</div>

