@import "../../../../styles"

.topbar
  display: flex
  justify-content: space-around
  align-items: center
  height: 10%
  padding-top: .5rem
  background-color: var(--black)
  box-sizing: border-box
  div:nth-child(1) > img
    width: .5rem
    height: 1rem
    margin-left: 20%
  div:nth-child(2) 
    display: flex
    justify-content: center
    > img
      width: 7rem
      height: 3rem
  div
    flex: 1

.direction
  display: flex
  justify-content: center
  margin-bottom: .2rem
  min-height: 5%
  box-sizing: border-box
  > div
    width: 100%
    display: flex
    > div
      flex: 1
      padding: 1rem
      text-align: center
      &.selected-direction
        box-shadow: 0 6px 2px -2px var(--blue)
      > span:nth-child(1)
        color: var(--blue)
        margin-right: .3rem
      > span:nth-child(2)
        color: var(--white)
.map
  height: 85%

// google map style
::ng-deep 
  .gm-style .gm-style-iw-c
    background-color: var(--black) !important
    color: white !important
    padding: 1rem !important
    button
      display: none !important
  .gm-style-iw-c::after, .gm-style-iw-t::after
    display: none !important
  .poi-info-window div, .poi-info-window a
    background-color: var(--black) !important
    color: white !important
    outline: none
  .gm-style-iw-d::-webkit-scrollbar
    display: none

@include breakpoint(pc)
  .direction 
    display: flex
    justify-content: center
    > div
      max-width: 1300px
      min-width: 80%

