.topbar
  display: flex
  align-items: center
  height: 10%
  padding-top: .5rem
  div
    flex: 1
  div:nth-child(1) > img
    width: .5rem
    height: 1rem
    margin-left: 20%
  div:nth-child(2) 
    display: flex
    justify-content: center
    > img
      width: 7rem
      height: 3rem
  div:nth-child(3) 
    display: flex
    justify-content: flex-end
    > img
      width: 1.5rem
      height: 1.5rem
      margin-right: 20%


.direction
  display: flex
  > div
    flex: 1
    padding: 1rem
    text-align: center
    &.selected-direction
      box-shadow: 0 6px 2px -2px var(--blue)
    > span:nth-child(1)
      color: var(--blue)
      margin-right: .3rem
    > span:nth-child(2)
      color: var(--white)

.route
  background-color: var(--gray)
  height: 80%
  > div:nth-child(1)
    text-align: right
    color: var(--blue)
    padding: 1rem 1rem .5rem 1rem
    font-size: .8rem
  .card
    display: grid
    grid-template-columns: 0.5fr 1.5fr 0.7fr 0.01fr 0.3fr
    align-items: center
    > div:nth-child(1)
      width: 5rem
      padding: .7rem 0rem
      margin: .5rem 1rem
      border-radius: 12px
      text-align: center 
    > div:nth-child(2)
      color: var(--white)
    > div:nth-child(3)
      color: var(--blue)
      position: relative
      &::after
        content: ""
        width: 1rem
        height: 1rem
        background: var(--gray)
        border: 1px solid var(--blue)
        border-radius: 50%
        box-shadow: none
        position: absolute
        left: 100%
        top: 50%
        transform: translate(-50%, -50%)
    > div:nth-child(4)
      height: 100%
      background-color: var(--blue)
      box-shadow: 0px 0px 6px #1CC8EE
    &.no-depart > div:nth-child(1)
      color: var(--gray-light)
      background-color: var(--black)
    &.waiting > div:nth-child(1)
      color: var(--blue)
      background-color: var(--black)
      box-shadow: 0px 0px 6px #1CC8EE
    &.departing > div:nth-child(1)
      color: var(--white)
      background-color: var(--gray-light)
    &.coming 
      > div:nth-child(1)
        color: var(--black)
        background-color: var(--blue)
      > div:nth-child(3)::after
        background: var(--blue)
        box-shadow: 0px 0px 6px #1CC8EE
  .card:nth-child(2)
    > div:nth-child(4)
      height: 50%
      margin-top: auto
  .card:last-child
    > div:nth-child(4)
      height: 50%
      margin-bottom: auto