<div class="topbar">
  <div>
    <img src="assets/back-arrow.png"
    (click)="navigateTo('search')">
  </div>
  <div>
    <img src="assets/topbar-logo.png"
    (click)="navigateTo('index')">
  </div>
  <div>
    <img src="assets/map-icon.png"
    (click)="navigateTo('map')">
  </div>
</div>
<div class="direction">
  <div [ngClass]="{'selected-direction': !isReturnDirection}"
        (click)="onSetDirection('go')">
    <span>往</span>
    <span>捷運劍潭站</span>
  </div>
  <div [ngClass]="{'selected-direction': isReturnDirection}"
        (click)="onSetDirection('return')">
    <span>往</span>
    <span>台北海大</span>
  </div>
</div>
<div class="route">
  <div>
    *於
    <span>3</span>
    秒前更新
  </div>
  <div class="card no-depart">
    <div>未發車</div>
    <div>小北街</div>
    <div>619-U3</div>
    <div></div>
    <div></div>
  </div>
  <div class="card coming">
    <div>進站中</div>
    <div>小北街</div>
    <div>619-U3</div>
    <div></div>
    <div></div>
  </div>
  <div class="card waiting">
    <div>4分</div>
    <div>小北街</div>
    <div>619-U3</div>
    <div></div>
    <div></div>
  </div>
  <div class="card departing">
    <div>離站中</div>
    <div>小北街</div>
    <div>619-U3</div>
    <div></div>
    <div></div>
  </div>

</div>